h1 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
/*	font-family: 'Annie Use Your Telescope', cursive;
	font-family: 'Monoton', cursive;*/
	font-weight: 700;
	font-size: 80px;
	margin: 10px 0;
}

.scoreboard {
	font-family: 'Monoton', cursive;
	margin-left: 30px;
	padding: 0 10px;
	background-color: #EC8A0F;
	border-radius: 20%;
}

.button-container {
	text-align: center;
	height: 70px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 36px;
	font-weight: 700;
	z-index: 8000;
}
/*
#start-game-button {
	position: relative;
	width: 30%;
	margin: 0 auto;
	background-color: #FD8008;
	border: 5px solid black;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 36px;
	font-weight: 700;
	z-index: 9000;
}*/

.ingame-countdown {
	position: absolute;
}

#countdown-to-start {
	position: absolute;
	z-index: 9990;
	font-family: 'Amatic SC', cursive;
	font-size: 2000%;
	text-align: center;

	top: 50%;
	left: 50%;
	width: 800px;
	height: 800px;
  margin-left:-400px;
  margin-top:-400px;
	/*Always remember to set the margin-left and margin-top to half the width of the div you wish to center,
as elements always align from their sides and not their center.*/
}

body {
	background-color: #FFA500;
	z-index: 5000;
}

.playing-field {
	position: relative;
	background-color: #FFA500;
	text-align: center;
	width: 800px;
	height: 1100px;
	padding: 10px;
	margin: 0 auto;
/*	border: 10px solid #EC8A0F;*/
}

.box {
	display: inline-block;
	margin: 5px;
	width: 160px;
	height: 220px;
	position: relative;
	overflow: hidden;
}

.honeypot {
	position: absolute;
	text-align: center;
	margin-left: -42.5%;
	bottom: 0;
	z-index: 9000;
	width: 85%;
}

.bear {
	position: absolute;
	text-align: center;
	margin-left: -42.5%;
	top: 100%;
	width: 85%;
	transition: all 0.4s;
}

.box.poppedUp .bear {
	top: 0;
}




#start-game-button {
	position: relative;
	width: 30%;
	margin: 0 auto;
	background-color: #FD8008;
/*	border-width: 5px;*/
	border: dashed #2F2F2F;
	color: #2F2F2F;
	z-index: 9000;

	transition: color 0.25s 0.08s;
  box-shadow: inset 0 0 0 4px orange;
}

#start-game-button::before, #start-game-button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
#start-game-button::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
#start-game-button::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
#start-game-button:hover {
  color: black;
}
#start-game-button:hover::before, #start-game-button:hover::after {
  border-color: black;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
#start-game-button:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
#start-game-button:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
