h1 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
/*	font-family: 'Annie Use Your Telescope', cursive;*/
/*	font-family: 'Monoton', cursive;*/
	font-size: 65px;
}


.scoreboard {
	font-family: 'Monoton', cursive;
	margin-left: 30px;
	padding: 0 10px;
	background-color: #EC8A0F;
	border-radius: 20%;
}


#start-game {
	margin: auto;
	display: block;
	background-color: orange;
	border: 2px solid black;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 20px;
	font-weight: 700;
}

body {
	background-color: orange;
}

.playing-field {
	background-color: orange;
	text-align: center;
	width: 800px;
	padding: 10px;
	margin: 10px auto;
/*	border: 10px solid black;*/
}

.box {
	display: inline-block;
	margin: 5px 0;
	width: 150px;
	height: 180px;
	position: relative;
	overflow: hidden;
}

.honeypot {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 80%;
}

.bear {
	position: absolute;
	top: 100%;
	left: 0;
	width: 80%;
	transition: all 0.4s;
}

.box.poppedUp .bear {
	top: 0;
}