h1 {
	text-align: center;
}

#start-game {
	margin: auto;
	display: block;
}

body {
	background-color: orange;
}

.playing-field {
	background-color: orange;
	text-align: center;
	width: 800px;
	margin: 50px auto;
	border: 20px solid black;
}

.box {
	display: inline-block;
	margin: 10px 0;
	width: 150px;
	height: 180px;
	position: relative;
	overflow: hidden;
}

.honeypot {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 80%;
}

.bear {
	position: absolute;
	top: 100%;
	left: 0;
	width: 80%;
	transition: all 0.4s;
}

.box.poppedUp .bear {
	top: 0;
}